---
import Layout from '../layouts/Layout.astro';
import CTA from '../content/CTA.astro'
---

<Layout title="MegaGym">
	<main>
		<CTA />
	</main>
</Layout>

<style>
	main {
		color: var(--false-black);
		padding: .5rem;
		width: 100vw;
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
	}
</style>
