---
import Layout from '../layouts/Layout.astro';
import CTA from '../content/CTA.astro';
import ActivitiesSection from '../content/ActivitiesSection.astro';
import CaracteristicsSection from '../content/CaracteristicsSection.astro';
import StaffSection from '../content/StaffSection.astro';
import PricesSection from '../content/PricesSection.astro';
import SponsorsSection from '../content/SponsorsSection.astro';
import TestimonialsSection from '../content/TestimonialsSection.astro';
import AboutUsSection from '../content/AboutUsSection.astro';
---

<Layout title="MegaGym">
	<main id="home">
		<CTA />
		<ActivitiesSection />
		<CaracteristicsSection />
		<StaffSection />
		<PricesSection />
		<SponsorsSection />
		<TestimonialsSection />
		<AboutUsSection />
	</main>
</Layout>

<style>
	main {
		color: var(--color-font);
		padding: 2rem 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 4rem;
	}
</style>
