---
import Layout from '../layouts/Layout.astro';
import CTA from '../content/CTA.astro'
import CarouselSection from '../content/CarouselSection.astro'
import ActivitiesSection from '../content/ActivitiesSection.astro';
---

<Layout title="MegaGym">
	<main id="home">
		<CTA />
		<CarouselSection />
		<ActivitiesSection />
	</main>
</Layout>

<style>
	main {
		color: var(--false-black);
		padding: 2rem .5rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 4rem;
	}
</style>
