---
import Layout from '../layouts/Layout.astro';
import CTA from '../content/CTA.astro'
import CarouselSection from '../content/CarouselSection.astro'
import ActivitiesSection from '../content/ActivitiesSection.astro';
import CaracteristicsSection from '../content/CaracteristicsSection.astro';
import StaffSection from '../content/StaffSection.astro';
import PricesSection from '../content/PricesSection.astro';
---

<Layout title="MegaGym">
	<main id="home">
		<CTA />
		<CarouselSection />
		<ActivitiesSection />
		<CaracteristicsSection />
		<StaffSection />
		<PricesSection />
	</main>
</Layout>

<style>
	main {
		color: var(--false-black);
		padding: 2rem 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 4rem;
	}
</style>
