---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components';

import musculacion from '@assets/members/curl-barra.webp'
import crossfit from '@assets/members/peso-muerto.webp'
import hiit from '@assets/members/hiit.webp'
import hift from '@assets/members/hift.webp'
---
<section id="actividades" class="activities-container">
    <h2 class="activities-container__title">CONOCE NUESTRAS ACTIVIDADES</h2>
    <ul class="activities-list">
        <li class="activity-item">
            <div class="activity-item-overlay">
                <Icon name="mdi:dumbbell" class="activity-item-overlay__icon" size={35}/>
                <span class="activity-item-overlay__title">Musculación</span>
            </div>
            <Image src={musculacion} class="activity-item-image" alt="Hombre realizando curl de biceps con barra (musculacion)"/>
        </li>
        <li class="activity-item">
            <div class="activity-item-overlay">
                <Icon name="mdi:clipboard-list" class="activity-item-overlay__icon" size={35}/>
                <span class="activity-item-overlay__title">Crossfit</span>
            </div>
            <Image src={crossfit} class="activity-item-image" alt="Mujeres haciendo peso muerto"/>
        </li>
        <li class="activity-item">
            <div class="activity-item-overlay">
                <Icon name="mdi:timer-alert" class="activity-item-overlay__icon" size={35}/>
                <span class="activity-item-overlay__title">HIIT</span>
            </div>
            <Image src={hiit} class="activity-item-image" alt="Hombre realizando curl de biceps con barra (musculacion)"/>
        </li>
        <li class="activity-item">
            <div class="activity-item-overlay">
                <Icon name="mdi:gymnastics" class="activity-item-overlay__icon" size={35}/>
                <span class="activity-item-overlay__title">HIFT</span>
            </div>
            <Image src={hift} class="activity-item-image" alt="Hombre realizando curl de biceps con barra (musculacion)"/>
        </li>
    </ul>
</section>


<style>

.activities-container__title{
    font: normal normal 800 clamp(2.8rem, 5vw, 5rem) var(--logo-font, Arial);
    text-align: center;
    margin-bottom: 2rem;
}

.activities-list {
    width: 100%;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3rem;
}

.activity-item{
    position: relative;
}

.activity-item-overlay { 
    padding: 1rem 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0, 0.8) 30% ,black 100%);
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 .2rem;
    border-radius: 6px;
}
.activity-item-overlay__icon, .activity-item-overlay__title {
    color: white;
}

.activity-item-overlay__icon {
    display: none;
}
.activity-item-overlay__title {
    font: normal normal bold clamp(1.8rem, 6vw, 2.5rem) var(--main-font, Arial);
}

.activity-item-image { 
    box-shadow: 5px 5px 25px var(--color-shadow);
    border-radius: 6px;
    width: clamp(170px, 70vw, 400px);
    max-height: 70vh;
    object-fit: cover;
}

@media (width >= 470px) {
    .activities-list{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center
    }
}

@media (width >= 650px) {
    
    .activity-item-overlay__icon {
        display: block;
    }
}

</style>