---
import Carousel from '../components/Carousel/Carousel.jsx';
import { members } from '../assets/members/members.js'
---
<section class="carousel-section" >
    <Carousel images={members} client:load/>
</section>

<style>
    .carousel-section {
        background-color: transparent;
        width: 70%;
        margin: 0 auto;
    }    
</style>