---
import Carousel from '../components/Carousel/Carousel.jsx';
import { members } from '../assets/members/members.js'
---
<div class="carousel-section" >
    <Carousel images={members} client:load/>
</div>

<style>
    .carousel-section {
        background-color: transparent;
        width: 100%;
    }    
</style>