---
// Component Script (JavaScript)
---
<!-- Component Template (HTML + JS Expressions) -->
<div class="CTA">
    <h1 class="CTA__title">¿Estas preparad@ para la experiencia MEGAGYM?</h1>
    <p class="CTA__paragraph">Contamos con el lugar, equipamiento y profesionalismo necesario para tu entrenamiento.</p>
    <a href="#activities" class="CTA__link-to-activities">¡Conoce nuestras actividades! 🔥</a>
</div>

<style>
    
    .CTA{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 2rem;
    }

    .CTA__title {
        /* https://css-tricks.com/snippets/css/font-shorthand/#aa-syntax */
        font: normal normal normal 1.6rem var(--special-font, Tahoma);
    }

    .CTA__paragraph {
        font: normal normal 600 1.3rem var(--main-font, Arial);
    }

    .CTA__link-to-activities {
        font: normal normal 800 1.9rem var(--main-font, Arial);
        text-decoration: underline;
        color: var(--false-black);
    }
</style>