---
// Component Script (JavaScript)
---
<!-- Component Template (HTML + JS Expressions) -->
<div class="CTA">
    <h1 class="CTA__title">¿Estas preparad@ para la experiencia MEGAGYM?</h1>
    <p class="CTA__paragraph">Contamos con el lugar, equipamiento y profesionalismo necesario para tu entrenamiento.</p>
    <a href="#activities" class="CTA__link-to-activities">¡Conoce nuestras actividades! 🔥</a>
</div>

<style>
    
    .CTA{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 1rem;
    }

    .CTA__title {
        /* https://css-tricks.com/snippets/css/font-shorthand/#aa-syntax */
        font: normal normal normal clamp(1.6rem, 6vw, 3rem) var(--special-font, Tahoma);
        max-width: 30ch;
    }

    .CTA__paragraph {
        font: normal normal 600 clamp(1.3rem, 4vw, 2rem) var(--main-font, Arial);
        max-width: 25ch;
    }

    .CTA__link-to-activities {
        font: normal normal 800 1.9rem var(--main-font, Arial);
        text-decoration: underline;
        color: var(--false-black);
    }
</style>