---
import Carousel from "../components/Carousel/Carousel";
import { members } from '../assets/members/members.js'
---
<section class="CTA-container">
    <Carousel images={members} client:load/>
    <div class="CTA">
        <h1 class="CTA__title">¿Estas preparad@ para la experiencia MEGAGYM?</h1>
        <p class="CTA__paragraph">Contamos con el lugar, equipamiento y profesionalismo necesario para tu entrenamiento.</p>
        <a href="#activities" class="CTA__link-to-activities">¡Conoce nuestras actividades! 🔥</a>
    </div>
</section>

<style>
    .CTA-container{
        display: flex;
        flex-direction: column-reverse;
        padding: 0 2rem;
        gap: 2rem 3rem;
    }
    
    .CTA{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 1rem;
    }

    .CTA__title {
        /* https://css-tricks.com/snippets/css/font-shorthand/#aa-syntax */
        font: normal normal normal clamp(1.6rem, 6vw, 2.5rem) var(--special-font, Tahoma);
        max-width: 30ch;
    }

    .CTA__paragraph {
        font: normal normal 600 clamp(1.3rem, 2vw, 2rem) var(--main-font, Arial);
        max-width: 25ch;
    }

    .CTA__link-to-activities {
        font: normal normal 800 1.9rem var(--main-font, Arial);
        text-decoration: underline;
    }

    @media (width >= 768px) {
        .CTA-container{
            padding: 0 4rem ;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
</style>