---
import Carousel from "../components/Carousel/Carousel";

import picture1 from '../assets/members/remo-hombre.webp';
import picture2 from '../assets/members/sentadilla-barra-mujer-2.webp';
import picture3 from '../assets/members/hombre-press-maquina.webp';
import picture4 from '../assets/members/sentadilla-pesa-rusa-mujer.webp';
import picture5 from '../assets/members/cinta-mujer-hombre.webp';
import picture6 from '../assets/members/hombre-polea-hombro.webp';

const carouselImages = [picture1.src, picture2.src, picture3.src, picture4.src, picture5.src, picture6.src];
---
<section class="CTA-container">
    <div class="carousel-container">
        <Carousel images={carouselImages} client:load/>
    </div>
    <div class="CTA">
        <h1 class="CTA__title">¿Estas preparad@ para la experiencia MEGAGYM?</h1>
        <p class="CTA__paragraph">Contamos con el lugar, equipamiento y profesionalismo necesario para tu entrenamiento.</p>
        <a href="#activities" class="CTA__link-to-activities">¡Conoce nuestras actividades! 🔥</a>
    </div>
</section>

<style>
    .CTA-container{
        display: flex;
        flex-direction: column-reverse;
        padding: 0 .5rem;
        gap: 2rem 3rem;
    }

    .carousel-container{
        width: 80%;
        margin: 0 auto;
    }
    
    .CTA{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 1rem;
    }

    .CTA__title {
        /* https://css-tricks.com/snippets/css/font-shorthand/#aa-syntax */
        font: normal normal normal clamp(2.6rem, 6vw, 3rem) var(--special-font, Tahoma);
        max-width: 30ch;
    }

    .CTA__paragraph {
        font: normal normal 600 clamp(1.5rem, 2vw, 2rem) var(--main-font, Arial);
        max-width: 25ch;
    }

    .CTA__link-to-activities {
        font: normal normal 800 2rem var(--main-font, Arial);
        text-decoration: underline;
    }

    @media (width >= 768px) {
        .CTA-container{
            padding: 0 4rem ;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
</style>