---

---

<section class="prices-section" id="precios">
    <h2 class="prices-section__title">Planes y precios 👀</h2>
    <ul class="prices-list">
        <li class="prices-list__item prices-list__item--hover">
            <h2 class="title">Socio de club</h2>
            <h3 class="subtitle">(Central entrerriano,<br> Juventud unida, Neptunia)</h3>
            <table>
              <thead class="table__head">
                <tr>
                  <th>Veces por semana</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2 dias</td>
                  <td>$16.000</td>
                </tr>
                <tr>
                  <td>3 dias</td>
                  <td>$17.000</td>
                </tr>
                <tr>
                  <td>Pase libre</td>
                  <td>$19.000</td>
                </tr>
              </tbody>
            </table>
            <div class="discount-label"> -5% </div>
        </li>
        <li class="prices-list__item prices-list__item--hover">
            <h2 class="title">Standard</h2>
            <table>
                <thead class="table__head">
                  <tr>
                    <th>Veces por semana</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2 dias</td>
                    <td>$17.000</td>
                  </tr>
                  <tr>
                    <td>3 dias</td>
                    <td>$18.000</td>
                  </tr>
                  <tr>
                    <td>Pase libre</td>
                    <td>$20.000</td>
                  </tr>
                </tbody>
                </table>
        </li>
        <li class="prices-list__item prices-list__item--hover">
            <h2 class="title">Fiel</h2>
            <h3 class="subtitle">(A partir de 1 año de continuidad)</h3>
            <table class="table">
              <thead class="table__head">
                <tr>
                  <th>Veces por semana</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2 dias</td>
                  <td>$15.500</td>
                </tr>
                <tr>
                  <td>3 dias</td>
                  <td>$16.500</td>
                </tr>
                <tr>
                  <td>Pase libre</td>
                  <td>$18.5000</td>
                </tr>
              </tbody>
            </table>
            <div class="discount-label"> -7,5% </div>
        </li>
    </ul>
</section>
<style>
  .prices-section { 
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem 0;
  }

  .prices-section__title{
      font: normal normal 800 2rem var(--main-font, Arial);
      text-decoration: underline;
      text-align: center;
  }

  .prices-list{
      width: 100%;
      padding: 1.5rem 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: space-evenly;
      color: var(--false-black);
  }

  .prices-list__item{
    position: relative;
    flex-basis: clamp(250px, 25%, 350px);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem .2rem;
    background-color: var(--off-yellow);
    border: 6px solid var(--off-white);
    border-radius: 6px;
    box-shadow: 5px 5px 25px var(--color-shadow);
    padding: 1rem;
    font-size: 1.3rem;
  }

  .title{
    font: normal normal 800 1.8rem var(--main-font, Arial);
  }

  .subtitle{
    text-align: center;
  }

  table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 15px;
  }
  table, th, td {
    padding: .3rem;
  }
  table thead tr th{
    border-bottom: 1px solid var(--false-black);
  }

  .prices-list__item--hover{ 
    transition: transform .5s, background .5s;
  }
  .prices-list__item--hover:hover{
    transition: transform .5s, background .5s;
    transform: scale(1.1);
    background-color: var(--middle-yellow);
  }

  .discount-label{
    position: absolute;
    border-radius: 50%;
    top: -2rem;
    right: -3rem;
    padding: 1rem;
    background-color: var(--complementary-yellow);
    color: var(--white);
    font: normal normal 600 1.6rem var(--main-font);
    border-color: transparent;
  }
</style>