---
import { Icon } from "astro-icon/components";


---

<section class="prices-section" id="precios">
    <h2 class="prices-section__title">Planes y precios</h2>
    <ul class="prices-list">
        <li class="prices-list__item prices-list__item--hover">
            <h2 class="title">Socio de club</h2>
            <h3 class="subtitle">(Central entrerriano,<br> Juventud unida, Neptunia)</h3>
            <table>
              <thead class="table__head">
                <tr>
                  <th>Veces por semana</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2 dias</td>
                  <td>$16.000</td>
                </tr>
                <tr>
                  <td>3 dias</td>
                  <td>$17.000</td>
                </tr>
                <tr>
                  <td>Pase libre</td>
                  <td>$19.000</td>
                </tr>
              </tbody>
            </table>
        </li>
        <li class="prices-list__item prices-list__item--hover">
            <h2 class="title">Standard</h2>
            <table>
                <thead class="table__head">
                  <tr>
                    <th>Veces por semana</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2 dias</td>
                    <td>$17.000</td>
                  </tr>
                  <tr>
                    <td>3 dias</td>
                    <td>$18.000</td>
                  </tr>
                  <tr>
                    <td>Pase libre</td>
                    <td>$20.000</td>
                  </tr>
                </tbody>
                </table>
        </li>
        <li class="prices-list__item prices-list__item--hover">
            <h2 class="title">Fiel</h2>
            <h3 class="subtitle">(A partir de 1 año de continuidad)</h3>
            <table class="table">
              <thead class="table__head">
                <tr>
                  <th>Veces por semana</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2 dias</td>
                  <td>$15.500</td>
                </tr>
                <tr>
                  <td>3 dias</td>
                  <td>$16.500</td>
                </tr>
                <tr>
                  <td>Pase libre</td>
                  <td>$18.5000</td>
                </tr>
              </tbody>
            </table>
        </li>
    </ul>
    <a href="tel:54 9 3446 670344" class="contact-whatsapp">
      <span class="contact-whatsapp__text">Consultar por WhatsApp</span> 
      <Icon class="contact-whatsapp__icon" name="mdi:whatsapp" size={30} />
    </a>
</section>
<style>
  .prices-section { 
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem 0;
  }

  .prices-section__title{
    font: normal normal 800 clamp(2.8rem, 5vw, 5rem) var(--logo-font, Arial);
    text-align: center;
    text-transform: uppercase;
  }

  .prices-list{
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    color: var(--white);
  }

  .prices-list__item{
    flex-basis: clamp(250px, 25%, 350px);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem .2rem;
    background-color: var(--false-black);
    border-radius: 6px;
    box-shadow: 5px 5px 25px var(--color-shadow);
    padding: 1rem;
    font-size: 1.3rem;
  }

  .title{
    font: normal normal 800 2rem var(--logo-font, Arial);
  }

  .subtitle{
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
    color: var(--grey-soft);
  }

  table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 15px;
  }
  table, th, td {
    padding: .3rem;
  }
  table thead tr th{
    border-bottom: 2px solid var(--gold);
  }

  .prices-list__item:hover{
    background: rgb(75,75,75);
    background: linear-gradient(130deg, rgba(50,50,50,1) 5%, rgba(28,28,27,1) 50%, rgba(50,50,50,1) 95%);
  }

  .contact-whatsapp{
    width: fit-content;
    font: normal normal 700 1.5rem var(--logo-font, Arial);
    color: var(--grey-soft);
    background-color: var(--false-black);
    cursor: pointer;
    box-shadow: 4px 4px 25px rgba(28,28,28,0.5);
    border-radius: 6px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    gap: .5rem;
    text-decoration: none;
    transition: color .5s ease;
  }
  
  .contact-whatsapp:hover, :has(.prices-list__item:hover) .contact-whatsapp{
    color: var(--gold);
  }
</style>