---
import { Image } from "astro:assets";
import TestimoniesInfiniteCarousel from "@components/TestimoniesInfiniteCarousel.astro";

import placeholder1 from '@assets/members/arnold.webp'
import placeholder2 from '@assets/members/mujergym.webp'
import placeholder3 from '@assets/members/ronnie.webp'
import placeholder4 from '@assets/members/viejita.webp'
import placeholder5 from '@assets/members/vladislava.webp'

const wrappedTestimonies = [
    { memberImage: placeholder4, testimonyText: "Soy una apasionada del fitness y he probado diferentes gimnasios a lo largo de mi vida, pero ninguno como MegaGym. Lo que más me gusta es la gran variedad de máquinas y equipos de última generación que tienen a disposición de los socios."},
    { memberImage: placeholder2, testimonyText: "MegaGym es mucho más que un gimnasio para mí. Es una comunidad de personas que comparten la misma pasión por el fitness y la vida saludable."},
    { memberImage: placeholder1, testimonyText: "Durante muchos años, intenté ponerme en forma por mi cuenta, pero sin éxito. Fue entonces cuando decidí apuntarme a MegaGym y, sin duda, fue la mejor decisión que pude tomar."},
    { memberImage: placeholder3, testimonyText: "Siempre he sido una persona activa, pero nunca había encontrado un gimnasio que me ofreciera una experiencia tan completa como MegaGym."},
    { memberImage: placeholder5, testimonyText: "MegaGym llegó a mi vida en un momento crucial. Me encontraba desmotivada y sin energía, y necesitaba un cambio radical. Desde el primer día, me sentí acogida por un equipo de profesionales excepcionales que me guiaron y motivaron en cada paso."},
]
---
<section class="testimonials-section" id="testimonios">
    <h2 class="testimonials-section__title">¿Qué opinan los MegaSocios?</h2>
    <TestimoniesInfiniteCarousel testimonies={wrappedTestimonies}/>
</section>

<style>
.testimonials-section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
}

.testimonials-section__title{
    font: normal normal 800 clamp(2.8rem, 5vw, 5rem) var(--logo-font, Arial);
    text-align: center;
    text-transform: uppercase;
    word-break: break-word;
}

.testimonials{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}
</style>