.navbar {
    position: relative;
    top: 0;
    padding: .8rem 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-bg);
    box-shadow: 2px 2px 20px var(--color-shadow);
}

a[href="#principal"]{
    margin:  0 auto 0 0;
}

.navbar__logo-megagym{
    cursor: pointer;
}

.navbar__buttons{
    display:flex;
    gap: 1rem;
}

.hamburguer-menu, .toggle-theme{
    background-color: transparent;
    border: transparent;
    padding: 0;
    cursor: pointer;
}

a, .navbar__logo-megagym, .hamburguer-menu, .toggle-theme {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamburguer-menu__icon, .toggle-theme__icon{
    filter: drop-shadow(2px 2px 20px var(--color-shadow));
}

.navbar__links-list{
    display: none;
}

.link{
    text-decoration: none;
    font: normal normal 600 1.4rem var(--main-font, Arial);
    color: var(--color-font);
}

.link_hover,
.link_hover:after,
.link_hover:before {
  transition: all .5s;
}
.link_hover:hover {
  color: #555;
}

.link_hover {
  position: relative;
}
.link_hover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.link_hover {
  transition: all 2s;
}

.link_hover:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.link_hover:hover {
  color: var(--false-black);
  z-index: 1;
}
.link_hover:hover:after {
  z-index: -10;
  animation: fill .5s forwards;
  -webkit-animation: fill .5s forwards;
  -moz-animation: fill .5s forwards;
  opacity: 1;
}

@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: var(--gold);
    }
  }

.navbar__links-list_mobile{
    /* animation: fadeInLeft .5s ease 0s 1 normal forwards; */
    /* animation: fadeOutRight .5s ease 0s 1 forwards forwards; */
    position: fixed;
    top: 6rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    background-color: var(--color-font);
    padding: 1rem;
    border-radius: 6px;
    border: 6px solid var(--gold);
}

.link_mobile {
    text-decoration: none;
    font: normal normal 600 1.4rem var(--main-font, Arial);
    color: var(--white);
}

.link, .link_mobile {
    transition: all .3s ease;
}

@media (width >= 768px) {
    .navbar__links-list_mobile, .hamburguer-menu{
        display: none;
    }

    .navbar__links-list{
        display: flex;
        gap: 1rem;
    }

    .navbar__buttons{
        order: 1;
    }
}


.fadeInLeft{
    animation: fadeInLeft .5s ease 0s 1 normal forwards;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(50px);
	}
}