.navbar {
    position: relative;
    top: 0;
    padding: .5rem 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(249, 255, 6, .9);
    box-shadow: 2px 2px 20px var(--black);
}
.navbar__logo-megagym{
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.4));
    cursor: pointer;
}
.hamburguer-menu{
    background-color: transparent;
    border: transparent;
    padding: 0;
    cursor: pointer;
}
.hamburguer-menu__icon{
    filter: drop-shadow(8px 4px 10px rgba(0, 0, 0, 0.6));
}

.navbar__links-list{
    display: none;
}

.link{
    text-decoration: none;
    font: normal normal 600 1.4rem var(--main-font, Arial);
    color: var(--false-black);
}
.link_hover:hover {
    filter: drop-shadow(2px 2px 30px var(--black));
}

.navbar__links-list_mobile{
    position: fixed;
    top: 6rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    background-color: var(--false-black);
    padding: 1rem;
    border-radius: 6px;
    border: 6px solid var(--secondary-yellow);
}

.link_mobile {
    text-decoration: none;
    font: normal normal 600 1.4rem var(--main-font, Arial);
    color: var(--main-yellow);
}

.link_mobile_hover:hover{
    filter: drop-shadow(2px 2px 30px var(--main-yellow));
}

.link, .link_mobile {
    transition: all .3s ease;
}

@media (width >= 768px) {
    .navbar__links-list_mobile, .hamburguer-menu{
        display: none;
    }

    .navbar__links-list{
        display: flex;
        gap: 2rem;
    }
}