---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import logoMegaGym from "@assets/logos/logo-mega-gym.webp";
---

<footer class="footer-container">
  
  <div class="social">
    <a href="#principal">
      <Image
        src={logoMegaGym}
        class="footer__logo-megagym"
        width={70}
        height={70}
        alt="Logo de MegaGym"
        loading="lazy"
      />
    </a>
    <div class="social__links">
      <a
        class="social__link"
        href="https://www.facebook.com/megagymgchu"
        target="_blank"
      >
        <Icon name="mdi:facebook" size={35} title="Facebook"/>
      </a>

      <a
        class="social__link"
        href="https://www.instagram.com/megagymgchu/"
        target="_blank"
      >
        <Icon name="mdi:instagram" size={35} title="Instagram"/>
      </a>

      <a class="social__link" href="mailto:megagymgchu@gmail.com">
        <Icon name="mdi:gmail" size={35} title="Gmail"/>
      </a>
    </div>
  </div>
  <span class="copyrigth">© Todos los derechos reservados.</span>
  <span class="signature">💛 by Nehuen Cuenca</span>
</footer>

<style>
  .footer-container {
    margin-top: 5rem;
    padding: 1rem 2rem;
    border-top: 5px solid var(--gold);
    background-color: var(--color-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 3rem;
    color: var(--white);
  }

  .title {
    font: normal normal 600 1.5rem var(--main-font, Arial);
    text-decoration: underline;
    text-align: center;
  }

  .social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .social__links {
    padding-top: .2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .social__link {
    text-decoration: none;
    color: var(--color-bg);
    cursor: pointer;
  }

  .signature, .copyrigth {
    width: max-content;
    color: var(--color-bg); 
  }
  .signature{
    margin-top: 2rem;
  }

  @media (width >= 768px) {
    .footer-container{ 
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
    .social__links { justify-content: flex-start; }

    .title { text-align: start; }
  }
</style>
