---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import logoMegaGym from "@assets/logos/logo-mega-gym.webp";
---

<footer class="footer-container">
  <a href="#principal">
    <Image
      src={logoMegaGym}
      class="footer__logo-megagym"
      width={70}
      height={70}
      alt="Logo de MegaGym"
      loading="lazy"
    />
  </a>
  <div class="social">
    <h3 class="title">Redes</h3>
    <div class="social__links">
      <a
        class="social__link"
        href="https://www.facebook.com/megagymgchu"
        target="_blank"
      >
        <Icon name="mdi:facebook" size={40} title="Facebook"/>
      </a>

      <a
        class="social__link"
        href="https://www.instagram.com/megagymgchu/"
        target="_blank"
      >
        <Icon name="mdi:instagram" size={40} title="Instagram"/>
      </a>

      <a class="social__link" href="mailto:megagymgchu@gmail.com">
        <Icon name="mdi:gmail" size={40} title="Gmail"/>
      </a>
    </div>
  </div>
  <span class="signature">💛 by Nehuen Cuenca</span>
</footer>

<style>
  .footer-container {
    padding: 1rem 2rem;
    background-color: var(--secondary-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem 3rem;
    color: var(--false-black);
  }

  .title {
    font: normal normal 600 1.5rem var(--main-font, Arial);
    text-decoration: underline;
    text-align: center;
  }

  .social__links {
    padding-top: .2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .social__link {
    text-decoration: none;
    color: var(--false-black);
    cursor: pointer;
  }

  .signature { 
    width: max-content;
    color: var(--false-black); 
  }

  @media (width >= 768px) {
    .footer-container{ flex-direction: row; }
    .social__links { justify-content: flex-start; }

    .title { text-align: start; }
    .signature { margin: 0 0 0 auto; }
  }
</style>
