---
import { Image } from 'astro:assets';
import logoMegaGym from "../assets/logo-mega-gym.webp";
import { Icon } from 'astro-icon/components';
---
<nav class="navbar">
    <Image src={logoMegaGym} class='navbar__logo-megagym' width={70} height={70} alt="Logo de MegaGym"/>
    <button class="hamburguer-menu">
        <Icon name="mdi:hamburger-menu" class='hamburguer-menu__icon' size={40} title='Menu' />
    </button>
</nav>

<style>
    .navbar {
		padding: 1.5rem 1rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.navbar__logo-megagym{
		filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.4));
		cursor: pointer;
	}
	.hamburguer-menu{
		background-color: transparent;
		border: transparent;
		padding: 0;
		cursor: pointer;
	}
	.hamburguer-menu__icon{
		filter: drop-shadow(8px 4px 10px rgba(0, 0, 0, 0.6));
	}
</style>