.carousel {
    display: flex;
    justify-content: center;
}

.carousel__image {
    /* width: 100%; */
    height: clamp(70vh, 80vh, 90vh);
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.carousel__button {
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    color: var(--main-yellow);
    cursor: pointer; 
    padding: 1em;
    display: flex;
    font-size: 1.2rem;
}

.carousel__button_right {
    margin: auto 0 auto -1.2em;
    font-weight: bolder;
}

.carousel__button_left {
    z-index: 0;
    margin: auto -1.2em auto 0;
    font-weight: bold;
}

@media(width >= 768px){
    .carousel__button {
        font-size: 1.5rem;
    }
}
