.carousel {
    width: 100dvw;
    display: flex;
    justify-content: center;
    position: relative;
}

.carousel__image {
    position: relative;
    height: clamp(420px, 90vh, 85vh);
    /* width: clamp(320px, 100vw, 1440px); */
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 25px var(--color-shadow);
    object-position: 50% 30%;
}

.carousel__overlay{
    position: absolute;
    height: clamp(420px, 90vh, 85vh);
    /* width: clamp(320px, 100%, 1440px); */
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
}

.CTA{
    position: absolute;
    top: 0;
    height: 100%;
    /* width: 95%; */
    width: clamp(360px, 80%, 1440px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem 0;
    text-align: center;
}

.CTA__title, .CTA__paragraph {
    text-wrap: balance;
}
.CTA__title {
    /* https://css-tricks.com/snippets/css/font-shorthand/#aa-syntax */
    font: normal normal 900 clamp(2.5rem, 9vw, 4.5rem) var(--logo-font, Tahoma);
    /* text-transform: uppercase; */
    background: -webkit-linear-gradient(var(--grey),#FFFFFF, var(--grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.CTA__paragraph {
    font: normal normal 150 clamp(1.3rem, 3vw, 2rem) var(--default-font, Arial);
    max-width: 30ch;
    color: var(--white);
}
