.carousel {
    display: flex;
    justify-content: center;
}

.carousel__image {
    height: clamp(70vh, 80vh, 90vh);
    object-fit: cover;
    box-shadow: 5px 5px 25px var(--color-shadow);
    border-radius: 6px;
}

.carousel__button {
    border: none;
    outline: none;
    background: var(--color-bg);
    box-shadow: 5px 5px 25px var(--color-shadow);
    color: var(--color-font);
    cursor: pointer; 
    padding: 1em;
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
}

.carousel__button_right {
    margin: auto 0 auto -1.2em;
}

.carousel__button_left {
    z-index: 0;
    margin: auto -1.2em auto 0;
}

@media(width >= 768px){
    .carousel__button {
        font-size: 1.5rem;
    }
}
