---
interface Props {
	title: string;
}

const { title } = Astro.props;

// Fonts
import '@fontsource-variable/gabarito';
import '@fontsource/carter-one';
import '@fontsource/bowlby-one-sc';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--main-font: 'Gabarito variable', Arial;
		--accent-font: 'Carter One', Helvetica, sans-serif;
		--special-font: 'Bowlby One SC', Tahoma;
		--main-yellow: #f9ff06;
		--secondary-yellow: #96963E;
		--middle-yellow: #FDFF62;
		--off-yellow: #FFFF93;
		--complementary-yellow: #6462FF;
		--black: #000000;
		--false-black: #202020;
		--white: #FFFFFF;
		--off-white: #D8D8D8;
	}
	html {
		font-family: var(--main-font, Arial);
		background: var(--false-black);
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
