---
const { title } = Astro.props;

// Fonts
import '@fontsource-variable/gabarito';
import '@fontsource/carter-one';
import '@fontsource/bowlby-one-sc';

// Components
import Navbar from '../components/Navbar/Navbar.jsx'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Navbar client:load/>
		</header>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--main-font: 'Gabarito variable', Arial;
		--accent-font: 'Carter One', Helvetica, sans-serif;
		--special-font: 'Bowlby One SC', Tahoma;
		--main-yellow: #f9ff06;
		--secondary-yellow: #96963E;
		--middle-yellow: #FDFF62;
		--off-yellow: #FFFF93;
		--complementary-yellow: #6462FF;
		--black: #000000;
		--false-black: #202020;
		--white: #FFFFFF;
		--off-white: #D8D8D8;
	}

	[data-theme="light"] {
		background-image: url(../assets/backgrounds/background-light-mesh.png);
		--color-bg: var(--main-yellow);
		--color-font: var(--false-black);
		--color-shadow: var(--false-black);
	}

	[data-theme="dark"] {
		background-image: url(../assets/backgrounds/background-dark-mesh.png);
		--color-bg: var(--false-black);
		--color-font: var(--main-yellow);
		--color-shadow: var(--secondary-yellow);
	}

	/* RESETS */
	*, *::before, *::after {
		box-sizing: border-box;
	}
	
	* {
		margin: 0;
	}

	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}

	img, picture, video, canvas, svg {
		display: block;
		max-width: 100%;
	}

	p {
		overflow-wrap: break-word;
	}

	a { 
		color:inherit;
	}
	
	ul,ol { 
		list-style-type: none;
		padding: 0
	}

	html {
		font-family: var(--main-font, Arial);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
	}

	header {
		width: 100%;
		position: sticky;
		top: 0;
		z-index: 9;
	}
</style>